[include]
        path = ~/.gitconfig.local
[user]
        name = Thomas Watts
        email = tawatts3@gmail.com
[init]
        defaultBranch = main
[alias]
        a = add
        aa = add --all
        amend = commit --amend
        br = branch
        ca = commit --amend
        cl = clone
        co = checkout
        cod = !git clone --depth 1
        cm = commit -m
        dm = !git branch --merged origin/master | grep -v master | xargs git branch -d
        done = !git fetch && git rebase origin/master && git checkout master && git merge @{-1} --no-ff && git push
        fa = fetch --all
        iquit = !git reset --hard && git clean -fd
        ir = !git rebase -i origin/master
        l = log --graph --abbrev-commit --date=relative
        loc = !git diff --stat `git hash-object -t tree /dev/null` | tail -1 | cut -d' ' -f5
        lst = log --graph --abbrev-commit --date=relative --stat
        pr = pull -r
        pf = push --force-with-lease
        rom = !git fetch origin && git rebase origin/master
        sa = !git submodule add
        shove = !git remote | xargs -L 1 git push
        st = status
        wip = !git aa && git cm 'wip' && git push
[format]
        pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an %ae>%Creset
[commit]
        template = ~/.gitmessage
[core]
        editor = vim
        excludesfile = ~/.gitignore
[color]
        ui = true
[color "branch"]
        current = yellow reverse
        local = yellow
        remote = green
[color "diff"]
        meta = yellow bold
        frag = magenta bold
        old = red bold
        new = green bold
[color "status"]
        added = yellow
        changed = green
        untracked = cyan
[push]
        default = current
[pull]
        default = current
        rebase = true
